body{
background-color: rgb(187, 135, 90);
font-family: Arial, sans-serif;
}
h1{
 font-size: 2em;
}
h2{
   font-size: 1.5em    ;
}
p{
    color: rgb(59, 59, 59);
font-size: 16px;
line-height: 1.6;
}

*{
    box-sizing: border-box;
}
a{
    text-decoration: none;
}
/*
Modifying ul list to use as navigation bar
*/
.navbar{
 list-style-type: none;
 background-color: rgb(100, 57, 0);
 position: absolute;
 top: 0px;
 width: 100%;
}
.navbarimage{
    margin-left: 28cm;
}
.navbar li{
display:inline-block;
padding: 10px;
margin-left: 5%;
}

.navbar a{
    text-decoration: none;
    color: white;
    text-align: center;
    font-size: 20px;
}
.nazev{
    font-size: 40px;
    color: antiquewhite;
}
.navbarbottom{
background-color: rgba(255, 189, 97, 0.46);
position: absolute;
bottom: 0px;
display: block;
padding: 30px;
width: 100%;
list-style-type: none;
}
.navbarbottom li {
display: inline-block;
margin-left: 13%;
}
.navbarbottom a{
text-decoration: none;
color: white;
}
footer a{
font-size: 20px;
}
@media only screen and (max-width: 600px){
 .navbarbottom{
    padding: 15px
 }
footer a{
    font-size: 10px;
}
}
/*
modifying table
*/
table{
display: inline-block;
  
background-color: rgb(248, 217, 177);
}

.MenuSection{
margin-top: 10%;
}
table ,th,td{
text-align: left;
}
th{
    padding-top: 15px;
    font-size: 15px;
    padding-left: 15px;
}
td{
    padding-right: 10px;;
    font-size: 15px;
    padding-left: 50px;
}
/*
form section
*/
.formsection {
position:static;
margin-top: 10%;
width: 400px;
height: 500px;
border-color: black;
background-color: burlywood;
}
/*
form
*/
form{
display:block;
margin-left: 13%;
width: 300px;
height: 500px;
text-align: left;
background-color: blanchedalmond;
}
@media only screen and (max-width: 600px){

}
textarea{
    resize: none;
    
}
input{
width: 100%;
padding: 5px;

}
label{
padding: 5px;
margin-top: 5%;
}
.divform{
    display: block;
}
.submit{
text-align: center;
width: 20%;
margin-left: 235px;
margin-bottom: 50px;
}
.reset{
    text-align: center;
    width: 20%;
}
/*
galerie 
*/
.galeriesection{
    display: grid;
    margin-left: 30%;
    margin-top: 80px;
}
.row{
    display: inline-block;
}
.main-conctent{
max-width: 1200px;
margin: 0 auto;
display: flex;
align-items: center;
justify-content: center;

}
img{
    width: 250px;
    height: auto;
    padding: 10px;
    border-radius: 25px;
}
a:hover{
   color: coral;
}
input:focus{
    background-color: rgb(211, 230, 247);
}
.highlight{
   background-color: gold;
}
.italic{
    font-style: italic ;
}
.inlineblock{
    display: inline-block;
}