body{
background-color: rgb(187, 135, 90);
font-family: Arial, sans-serif;
}
h1{
 font-size: 2em;
}
h2{
   font-size: 1.5em    ;
}
p{
    color: rgb(59, 59, 59);
font-size: 16px;
line-height: 1.6;
}

*{
    box-sizing: border-box;
}

/*
Modifying ul list to use as navigation bar
*/
.navbar{
 list-style-type: none;
 background-color: rgb(100, 57, 0);
 margin: 20px;
 padding: 30px;
}
.navbarimage{
    margin-left: 30cm;
}
.navbar li{
display:inline-block;

}
.navbar a{
    text-decoration: none;
    color: white;
    text-align: center;
    padding: 16px 14px ;
    margin: 10px;
    font-size: 20px;
}
.navbarbottom{
    position: absolute;
    bottom: 10px;
    list-style-type: none;
    background-color: rgb(100, 57, 0);
    margin: 20px;
    padding: 30px;
}
.navbarbottom li{
    display:inline-block;
}
.navbarbottom a{
    text-decoration: none;
    color: white;
    text-align: center;
    padding: 16px 14px ;
    margin: 10px;
    font-size: 20px;
}
table{
display: inline-block;
width: 500;
height: 400;   
background-color: rgb(248, 217, 177);
}
.menuNapoje{
    margin-left: 4cm;
    margin-top: 2cm;
   
}
.menuJidlo{
    margin-left: 25cm;
    margin-top: 2cm;
}
table ,th,td{
text-align: left;
}
th{
    padding-top: 15px;
    font-size: 30px;
    padding-left: 15px;
}
td{
    padding-right: 60px;;
    font-size: 20px;
    padding-left: 50px;
}
.formsection {
position:static;
margin-left: 20cm;
padding-top: 10px;
width: 500px;
height: 600px;
border-color: black;
background-color: burlywood;
}
form{
padding-top: 20px;
margin-top: 50px;
margin-left: 50px;
display:block;
width: 400px;
height: 500px;
text-align: left;
background-color: blanchedalmond;
}
input{
width: 100%;
padding: 10px;
}
label{
padding: 10px;
}
.divform{
    display: block;
}
.submit{
text-align: center;
width: 20%;
margin-left: 235px;
}
.reset{
    text-align: center;
    width: 20%;
}
a:hover{
   color: coral;
}
.highlight{
   background-color: gold;
}
.italic{
    font-style: italic ;
}
.inlineblock{
    display: inline-block;
}